/* --------- COLLAPSIBLE PANELS ----------*/
 
.expandable-panel {
    width:100%;
    position:relative;
    min-height:90px;
    overflow:auto;
    margin-bottom: 10px;
    border:1px solid #ccc;
    border-radius: 4px;
}  
.expandable-panel-heading {
    width:auto;
    cursor:pointer;
    min-height:90px;
    clear:both;
    background-color:#E5E5E5;
    position:relative;
    z-index: 100;
    padding-left: 5px;
}
.expandable-panel-heading:hover {
    color:#666;
}
.expandable-panel-heading h2 {
    padding:14px 10px 9px 15px;
    font-size:18px;
    line-height:20px;
}
.expandable-panel-content {
    padding:0 5px 0 5px;
    margin-top:-999px;
    background-color: #E5E5E5;
}
.expandable-panel-content p {
    padding:4px 0 6px 0;
}
.expandable-panel-content p:first-child  {
    padding-top:10px;
}
.expandable-panel-content p:last-child {
    padding-bottom:15px;   
}
.icon-close-open {
    width:20px;
    height:20px;
    position:absolute;
    /* This reference causing NetworkError: 404 Not found
    background-image:url(icon-close-open.png);*/
    right:15px;
}
.expandable-panel-content img {
    float:right;
    padding-left:12px;
}
.header-active {
    background-color:#6BB5DF;
    color: #ffffff;
}